<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1385.vb_58b_86ea_fff1">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2168.vf921b_4e72c73"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2168.vf921b_4e72c73">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <displayName>develop</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty plugin="workflow-multibranch@770.v1a_d0708dd1f6">
      <branch plugin="branch-api@2.1144.v1425d1c3d5a_7">
        <sourceId>6d4c5be7-2934-4199-8d84-7feba067af92</sourceId>
        <head class="org.jenkinsci.plugins.github_branch_source.BranchSCMHead" plugin="github-branch-source@1767.va_7d01ea_c7256">
          <name>develop</name>
        </head>
        <scm class="hudson.plugins.git.GitSCM" plugin="git@5.2.1">
          <configVersion>2</configVersion>
          <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
              <name>origin</name>
              <refspec>+refs/heads/develop:refs/remotes/origin/develop</refspec>
              <url>https://github.com/DevOps-Realtime/Project2.git</url>
              <credentialsId>GitHub</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
          </userRemoteConfigs>
          <branches class="singleton-list">
            <hudson.plugins.git.BranchSpec>
              <name>develop</name>
            </hudson.plugins.git.BranchSpec>
          </branches>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <browser class="hudson.plugins.git.browser.GithubWeb">
            <url>https://github.com/DevOps-Realtime/Project2</url>
          </browser>
          <submoduleCfg class="empty-list"/>
          <extensions>
            <jenkins.plugins.git.GitSCMSourceDefaults>
              <includeTags>false</includeTags>
            </jenkins.plugins.git.GitSCMSourceDefaults>
          </extensions>
        </scm>
        <properties/>
        <actions>
          <org.jenkinsci.plugins.github__branch__source.GitHubLink plugin="github-branch-source@1767.va_7d01ea_c7256">
            <iconClassName>icon-github-branch</iconClassName>
            <url>https://github.com/DevOps-Realtime/Project2/tree/develop</url>
          </org.jenkinsci.plugins.github__branch__source.GitHubLink>
          <jenkins.scm.api.metadata.ObjectMetadataAction plugin="scm-api@683.vb_16722fb_b_80b_">
            <objectDisplayName>develop</objectDisplayName>
            <objectUrl>https://github.com/DevOps-Realtime/Project2/tree/develop</objectUrl>
          </jenkins.scm.api.metadata.ObjectMetadataAction>
        </actions>
      </branch>
    </org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.multibranch.SCMBinder" plugin="workflow-multibranch@770.v1a_d0708dd1f6">
    <scriptPath>Jenkinsfile</scriptPath>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>